body{
    margin: 0;
    width: 100%;
}
h2, h1{
    font-family: 'Righteous';
}
header{
    background-image: url('https://lepetitjournal.com/sites/default/files/inline-images/cantonese-cuisine-banner.jpg.1758x854_q85_crop.jpg');
    height: 150px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
}
#headP{
    font-style: italic;
}
#commandeD{
    font-size: 26px;
    font-weight: normal;
}
main{
    padding-top: 10px;
    text-align: center;
}
.container{
    background-color: white;
    width: 100%;
    display: flex;
    
}
.container2, .container1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
}
#sel_cat{
    width: 200px;
}

.container1>p{
    cursor: pointer;
}

p>img{
    width: 60px;
    vertical-align: middle;
    padding-right: 10px;
}
p{
    font-size: 20px;
    font-family: 'Antic';
}
p:hover{
    font-size: 25px;
    font-weight: bold;
    transition-timing-function: ease;
    transition-duration: 1000ms;
}

.hidden{
    display: none;
}

.container2{
    position: fixed;
    right: 0;
    text-align: center;
    background-image: url('https://i.pinimg.com/originals/2c/c7/a5/2cc7a548c99bc24bf4f1c4d59ec65b1c.jpg');
    background-size: cover;
}
span{
    font-family: 'Antic';
    font-size: 20px;
}

ul>li{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction : row-reverse;
    margin-top: 5px;
    font-family: 'Satisfy';
    font-size: 20px;
}
ul>li>button{
    position: absolute;
    margin-right: auto;
    margin-left: 225px;
}
ul>li>input{
    margin-left: 16px;
    width : 35px;
    margin-right: 10px;
    background: none;
}
